node_modules/
config.json
scenes/

# Fichiers perso / TouchDesigner
Backup/
*.toe
stat.txt

# Images de public perso (droits)
public/crowd/*
!public/crowd/LISEZMOI.txt

# Divers
*.log
.DS_Store
Thumbs.db
